@import url('https://fonts.googleapis.com/css?family=Roboto:500i&display=swap');

.header-portion {
 border: 1px solid black;
 background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 padding: 0.5rem;
}
.header-portion h1{
    text-align: center;
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
}

.fab{
    font-size: 55px;
    color: #5352ed;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
}